@import url('https://fonts.googleapis.com/css2?family=Stylish&display=swap');

html {
    scroll-behavior: smooth;
}

*{
    font-family:'Stylish';
    font-size:1.05em;
}

body{
    margin: 0;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
}

.mainbar{
    background-color: #7864F3;
    height: 60px;
    margin-bottom: 0;
}

.a-sidebar {
    height: 97%;
    width: 205px;
    position: fixed;
    z-index: 1;
    top: 30;
    left: 0;
    background-color: #3C3473;
    overflow-x: hidden;
    padding-top: 0px;
}
  
.a-logo{
    background-image: url('../../image/logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 3px;
    float: left;
    width: 190px;
    height: 50px;
}

.logout{
    width:140px;
    margin-top: 10px;
    margin-right: 25px;
    float: right;
    height:40px;
    border-color: black;
    border-width: 0.5px;
    background-color:#C9C2F8;
    border-radius: 10px;
    font-size:18px;
    cursor: pointer;
}

.logout:hover{
    transition: 0.3s;
    opacity: 0.8;
}

c{
    width: 205px;
    text-decoration: none;
    padding: 30px 0px 20px 0px;
    text-align: center;
    font-size: 24px;
    color: white;
    display: block;
}

d{
    text-decoration: none;
    font-size: 50px;
    color: black;
}

.formid{
    top : 5.1em;
    left: 53.9em;
}

.formid2{
    top : 5.1em;
    left: 57.8em;
}

.a-sidebar a {
    padding: 6px 8px 6px 14px;
    text-decoration: none;
    text-align: left;
    font-size: 15px;
    display: block;
    color: white;
}

.a-sidebar button:hover, .a-sidebar a:hover {
    background-color: white;
    color: #3C3473;
    transition: 0.5s;
}
  
.a-sidebar button{
    margin: 4px 12px 15px 10px;

}

.top{
    margin-top: 0px;
}

.a-menu{
    border:none;
    background-color: #7864F3;
    min-width: 175px;
    bottom: 3px;
    padding-top: 4px;
    color: white;
}

.a-open{
    border:none;
    background-color: white;
    min-width: 175px;
    bottom: 3px;
    padding-top: 4px;
}

.a-open a{
    border:none;
    background-color: white;
    bottom: 3px;
    padding-top: 4px;
    color: #3C3473;
}

.a-main {
    margin-left: 225px;
    margin-right: 25px;
    padding: 20px 7px 0 10px;
}

@media screen and (max-height: 450px) {
    .a-sidebar {padding-top: 15px;}
    .a-sidebar a {font-size: 20px;}
}

input{
    border-radius:15px;
}
    
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.content{
    margin-top: 30px;
    color:black;
}

label{
    position : absolute;
}

input{
    position : absolute;
        padding-left : 0.3em;
    }


.biodata{
    
    margin-top :1%; 
}

.form{
    margin-left:0.7%;
}


.tol{
    border-radius:15px;
   
}

.rol{
    border-radius:15px;
}

.id1{
    top : 8.1em;
    left: 11.7em;
}

.id2{
    top : 8.1em;
    left: 19em;

}

.id3{
    top : 8.1em;
    left : 21.3em;
}

.name1{
    top : 10.4em;
    left: 11.7em;
}

.name2{
    position:absolute;
    top: 10.4em;    
    left: 19em;
}

.name3{
    position:absolute;
    top: 10.4em;    
    left: 21.3em;
}

.position1{
    top : 8.1em;
    left : 40em;
}   

.position2{
    top : 8.1em;
    left : 47.3em; 
}

.position3{
    position: absolute;
    top : 8.1em;
    left : 49.6em;
}

.department1{
    top : 10.4em;
    left : 40em;
}

.department2{
    top : 10.4em;
    left : 47.3em;
}

.department3{
    top : 10.4em;
    left : 49.6em;
}

.l-period1{
    left : 10.65em;
    top : 13em;
}

.i-period{
    top : 13em;
    left : 23em;
    width : 4em;
}

.l-period2{
    top : 13em;
    left : 28.3em;
}


.l-date1{
    left : 10.65em;
    top: 11.5em;
}

.i-date1{
    left : 23em;
    top : 11.5em;
    width : 10em;
}

.l-date2{
    top : 11.5em;
    left : 28.5em;
}

.i-date2{
    top : 11.5em;
    left : 30em;
    width : 10em;
}


.l-tol{
    left : 10.65em;
    top: 13.5em;
}

.type{
    position : absolute;
    top : 13.5em;
    left : 22.8em;
    width :10.7em;
    padding-left: 0.3em;
    height :1.4em;
    border-radius : 15px;
}

.l-approvement{  
    left: 10.65em;
    top : 23em;
}

.i-approvement{
    left : 23em;
    top : 23em;  
}

.l-rol{
    left : 10.65em;
    top : 15.8em;
}

.i-rol{
    position : absolute;
    left : 23em;
    top : 15.8em;
    border-radius : 15px;
    padding-left : 0.3em;
}

.submit:hover{
    opacity: 0.8;
    transition: 0.3s;
}

.Approve{
    float: right;
    color:white;
    background-color: #5239f7;
    width: 200px;
    height:41.1px;
    border-width: 1.5px;
    border-color: black;
    cursor: pointer;
    border-radius : 15px;
    position : absolute;
    top : 29em;
    left : 57em;
}

.Reject{
    float: right;
    color:white;
    background-color: #f73943;
    width: 200px;
    height:41.1px;
    border-width: 1.5px;
    border-color: black;
    cursor: pointer;
    border-radius : 15px;
    position : absolute;
    top : 29em;
    left : 47em;
}

.Cancel{
    float: right;
    color:Black;
    background-color: #ffffff;
    width: 200px;
    height:41.1px;
    border-width: 1.5px;
    border-color: black;
    cursor: pointer;
    border-radius : 15px;
    position : absolute;
    top : 29em;
    left : 37em;
}