@import url('https://fonts.googleapis.com/css2?family=Stylish&display=swap');

html {
    scroll-behavior: smooth;
}

body{
    margin: 0;
    background-color: #FFFFFF;
    background-repeat: no-repeat;
}

.mainbar{
    background-color: #7864F3;
    height: 60px;
    width: 100%;
    display: flex;
    position: fixed;
    float: left;
}

.a-sidebar {
    height: 100%;
    width: 205px;
    position: fixed;
    z-index: 1;
    top: 60px;
    left: 0;
    background-color: #3C3473;
    overflow-x: hidden;
    padding-top: 0px;
}

.a-logo{
    background-image: url('../../image/logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 3px;
    float: left;
    width: 190px;
    height: 50px;
}

nav{
    position: fixed;
    width: 100%;
    top: 10px;
    float: right;
    margin-right: 25px;
}

nav li{
    margin-right: 25px;
    list-style: none;
}

.logout{
    font-family: 'Stylish';
    width:140px;
    margin-top: 0px;
    margin-right: 0px;
    float: right;
    height:40px;
    border-color: black;
    border-width: 0.5px;
    background-color:#C9C2F8;
    border-radius: 10px;
    font-size:18px;
    cursor: pointer;
}

.logout:hover{
    transition: 0.3s;
    opacity: 0.8;
}

c{
    width: 205px;
    font-family: 'Stylish';
    text-decoration: none;
    padding: 30px 0px 20px 0px;
    text-align: center;
    font-size: 24px;
    color: white;
    display: block;
}

d{
    font-family: 'Stylish';
    text-decoration: none;
    font-size: 50px;
    color: black;
}

.a-sidebar a {
    font-family: 'Stylish';
    padding: 6px 8px 6px 14px;
    text-decoration: none;
    text-align: left;
    font-size: 15px;
    display: block;
    color: white;
}

.a-sidebar button:hover, .a-sidebar a:hover {
    background-color: white;
    color: #3C3473;
    transition: 0.5s;
}
  
.a-sidebar button{
    margin: 4px 12px 15px 10px;

}

.top{
    margin-top: 0px;
}

.a-menu{
    border:none;
    background-color: #7864F3;
    min-width: 175px;
    bottom: 3px;
    padding-top: 4px;
    padding-left: 6px;
    color: white;
}

.a-open{
    border:none;
    background-color: white;
    min-width: 175px;
    padding-left: 6px;
    bottom: 3px;
    padding-top: 4px;
}

.a-open a{
    border:none;
    background-color: white;
    bottom: 3px;
    padding-top: 4px;
    color: #3C3473;
}

.a-main {
    margin-left: 225px;
    margin-right: 25px;
    overflow: auto;
    padding: 75px 7px 0 10px;
}

@media screen and (max-height: 450px) {
    .a-sidebar {padding-top: 15px;}
    .a-sidebar a {font-size: 20px;}
}
    
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.form{
    padding-left: 10px;
    padding-right: 10px;
    width: 90%;
    height:32.5px;
    background-color:white;
    font-family: 'Stylish';
    font-size:18px;
    border-color: black;
    border-width: 1.6px;
    outline: none;
}

.form1{
    padding-left: 10px;
    padding-right: 10px;
    width: 80%;
    height:32.5px;
    background-color:white;
    font-family: 'Stylish';
    font-size:18px;
    border-color: black;
    border-width: 1.6px;
    outline: none;
}

.form2{
    padding-left: 10px;
    padding-right: 10px;
    width: 90%;
    height:38px;
    background-color:white;
    font-family: 'Stylish';
    font-size:18px;
    border-color: black;
    border-width: 1.6px;
    outline: none;
}

.form3{
    padding-left: 10px;
    padding-right: 10px;
    width: 95%;
    height:38px;
    background-color:white;
    font-family: 'Stylish';
    font-size:18px;
    border-color: black;
    border-width: 1.6px;
    outline: none;
}

.return:hover, .upload:hover, .remove:hover, .add:hover, .save:hover{
    opacity: 0.8;
    transition: 0.3s;
}

.return{
    float: right;
    font-family: 'Stylish';
    color:white;
    font-size: 20px;
    background-color: #7864F3;
    width: 200px;
    height:41.1px;
    border-width: 1.5px;
    border-color: black;
    cursor: pointer;
    margin-top: 20px;
}

.content{
    margin-top: 30px;
    font-family: 'Stylish';
    color:black;
    font-size: 20px;
}

.test{
    float: left;
    margin-top: 15px;
    text-align: center;
}

.test2{
    margin-left: 300px;
    margin-top: 15px;    
}

fieldset{
    border-radius: 27px;
    height: 500px;
}

.profile{
    margin-top: 3px;
    width: 200px;
    height: 200px; 
    border: 30px solid gainsboro;
}

.save2{
    font-family: 'Stylish';
    color:white;
    font-size: 20px;
    background-color: #7864F3;
    width: 200px;
    height:41.1px;
    border-width: 1.5px;
    border-color: black;
    cursor: pointer;
    margin-bottom: 10px;
}

.add{
    float: right;
    font-family: 'Stylish';
    color:white;
    font-size: 20px;
    background-color: #7864F3;
    width: 200px;
    height:41.1px;
    border-width: 1.5px;
    border-color: black;
    cursor: pointer;
    margin-right:2.5%;
    margin-top: 0px;
}

.save{
    float: right;
    font-family: 'Stylish';
    color:white;
    font-size: 20px;
    background-color: #7864F3;
    width: 200px;
    height:41.1px;
    border-width: 1.5px;
    border-color: black;
    cursor: pointer;
    margin-right:2.5%;
    margin-top: 5px;
}

